// brand area start
.brand-style-one {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .title {
        margin: 0;
        color: #221859;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px;
        width: max-content;
    }

    .brand-area {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        padding: 0 72px;
        border-right: 1px solid #E2E2E2;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
            border: none;
        }

        img {
            cursor: pointer;
            transition: 0.3s;
        }
    }

    .mySwiper-category-1 {
        padding: 10px 0;
    }
}


.rts-brand-style-two {
    .title {
        text-align: center;
        color: #221859;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px;
    }

}

.brand-area-main-wrapper-2 {
    padding: 48px 112px;
    border-radius: 6px;
    border: 1px solid #DDD8F9;

    @media #{$large-mobile} {
        padding: 40px;
    }

    @media #{$small-mobile} {
        padding: 20px;
    }

    img {
        cursor: pointer;
    }
}

.justify-content-sm-center {
    @media #{$sm-layout} {
        justify-content: center !important;
    }
}


.brand-main-wrapper-nine {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .single-brand {
        cursor: pointer;

        img {
            min-width: max-content;
            transition: .3s;
            max-width: max-content;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.brand-area-one.v-3 {
    position: relative;
    z-index: 1;

    .shape-image {
        .shape {
            position: absolute;
            z-index: -1;
        }

        .one {
            left: 3%;
            bottom: 40%;
        }

        .two {
            right: 3%;
            top: 35%;

        }
    }
}