.rts-bread-crumbarea-1 {
    position: relative;
    z-index: 1;
    overflow: hidden;

    .shape-image {
        .shape {
            position: absolute;
            z-index: -1;

            &.one {
                // left: 25%;
                // top: 25%;
                left: 20%;
                top: 33%;
            }

            &.two {
                right: 25%;
                top: 25%;
            }

            &.three {
                left: -2%;
                top: 23%;
            }

            &.four {
                right: -4%;
                top: 0%;
            }
        }
    }
}

.breadcrumb-main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 767px) {
        flex-direction: column;
    }

    .title {
        color: var(--color-heading-1);
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: 1;

        @media #{$large-mobile} {
            font-size: 32px;
            line-height: 1.2;
        }
    }

    .pagination-wrapper {
        display: flex;
        align-items: center;
        gap: 6px;
        align-items: center;
        justify-content: center;

        i {
            font-size: 14px;
            color: #737477;
        }

        a {
            font-size: 16px;
            color: #737477;

            &.active {
                color: var(--color-primary);
                transition: .3s;

                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }
}

.single-course-left-align-wrapper {
    .meta-area {
        display: flex;
        display: flex;
        align-items: center;
        gap: 7px;

        a {
            color: var(--color-heading-1);

            &.active {
                color: var(--color-primary);
            }
        }

        i {
            color: var(--color-primary);
        }
    }

    .title {
        color: var(--color-heading-1);
        font-size: 44px;
        font-style: normal;
        font-weight: 600;
        line-height: 54px;
        margin-top: 25px;
    }

    .rating-area {
        display: flex;
        align-items: center;
        gap: 30px;

        &.v2 {
            justify-content: center;
        }

        @media #{$sm-layout} {
            gap: 15px;
        }

        @media #{$large-mobile} {
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
        }

        .stars-area {
            display: flex;
            align-items: center;
            gap: 10px;

            span {
                color: #110C2D;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 26px;
            }

            i {
                color: #FFA41C;
            }
        }

        .students,
        .calender-area-stars {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .author-area {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 30px;

        @media #{$large-mobile} {
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
        }

        .author {
            display: flex;
            align-items: center;
            gap: 15px;

            .name {
                margin: 0;
                line-height: 20px;

                span {
                    color: #737477;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 26px;
                }
            }
        }

        p {
            color: var(--color-heading-1);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px;

            span {
                color: #737477;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
            }
        }
    }
}

.single-event-left-align-wrapper {

    .event-tag {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 26px;

        .tag-item {
            display: flex;
            align-items: center;
            gap: 10px;
            i {
                color: var(--color-primary);
            }
        }
    }
    .meta-area {

        a {
            color: var(--color-heading-1);

            &.active {
                color: var(--color-primary);
            }
        }

        i {
            font-size: 10px;
        }
    }
}

.center-align-course-breadcrumb {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .single-course-left-align-wrapper .meta-area {
        justify-content: center;
    }

    .single-course-left-align-wrapper .author-area {
        justify-content: center;
    }
}

.center-align-event-breadcrumb {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .single-course-left-align-wrapper .meta-area {
        justify-content: center;
    }

    .single-course-left-align-wrapper .author-area {
        justify-content: center;
    }
}


.course-top-enroll-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 38px 80px;
    background: #F9F8FF;
    border-radius: 6px;
    margin-bottom: 50px;
    border: 1px solid #DDD8F9;

    @media #{$sm-layout} {
        flex-direction: column;
        align-items: center;
    }

    @media #{$large-mobile} {
        padding: 32px;
    }

    .single-course-top {
        text-align: center;
        position: relative;

        &:last-child {
            &::after {
                display: none;
            }
        }

        &::after {
            position: absolute;
            content: '';
            right: -100px;
            width: 1px;
            height: 100%;
            background: #DDD8F9;
            top: 0;

            @media #{$sm-layout} {
                display: none;
            }
        }

        span {
            display: block;
            margin-bottom: 20px;
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 26px;
        }

        .rts-btn {
            padding: 10px 15px;
        }

        .title {
            color: var(--color-primary);
            margin-bottom: 0;
        }
    }
}

.course-details-breadcrumb-1 {
    position: relative;
    z-index: 1;

    .shape-image {
        .shape {
            position: absolute;
            z-index: -1;

            &.one {
                right: 15%;
                bottom: 10%;

                &.v1 {
                    right: 43%;
                    bottom: 16%;
                }
            }

            &.two {
                left: 8%;
                bottom: 1%;
            }

            &.three {
                left: -2%;
                top: 23%;
            }

            &.four {
                right: -4%;
                top: 0%;
            }
        }
    }
}

.event-details-breadcrumb-1 {
    position: relative;
    z-index: 1;

    .shape-image {
        .shape {
            position: absolute;
            z-index: -1;

            &.one {
                right: 15%;
                bottom: 10%;

                &.v1 {
                    right: 43%;
                    bottom: 16%;
                }
            }

            &.two {
                left: 8%;
                bottom: 1%;
            }

            &.three {
                left: -2%;
                top: 23%;
            }

            &.four {
                right: -4%;
                top: 0%;
            }
        }
    }
}